
main {
  width: 300px;
  margin: 0 auto;
}

h1 {
  color: rgb(34, 56, 180);
}

.border {
  border: 1px #ccc solid;
  padding: 5px;
  padding-bottom: 30px;
  width: 190px;
}

.add-contact {
  background-color: rgb(34, 56, 180);
  color: #fff;
  margin-top: 20px;
  width: 180px;
  padding: 8px 5px;
  border-radius: 7px;
}


.delete-icon {
background: transparent;
border: 2px solid rgb(163, 27, 39);
color: rgb(141, 20, 37);
display: inline-block;
font-size: 12px;
height: 20px;
line-height: 2px;
margin: 0 0 8px;
padding: 0;
text-align: center;
width: 20px;
}


.filter-form {
  background-color: rgb(138, 141, 160);
  color: #fff;
  width: 240px;
  padding: 8px 5px;
  border-radius: 7px; 
}
.fade {
  background-color: rgb(138, 141, 160);
  width: 240px;
  padding: 8px 5px;
  border-radius: 7px; 
}